body {
    margin: 0;
    padding: 0;
    max-width: auto;
    background-image: url(images/hawaii.png);
    height: 100vh; /* full height of screen */
    background-size: cover;      /* cover the whole page */
    background-position: center; /* center the image */
    background-repeat: no-repeat; /* no repeat */
    display: flex;
    flex-direction: column;     /* stack header, main, footer */
}
header {
    text-align: center;
    background-color: rgb(61, 13, 117);
    padding: 0;
    margin: 0;
}
h1 {
    color: antiquewhite;
    padding: 10px;
    margin: 0;

}
.div1 {
    flex: 1;  /* takes up available space and pushes footer down */
  }

.div2 a {
    float: right;
}
.div2 img {
    margin: 5px;
}
/*
#hawaii {
    background-color: rgb(219, 158, 46);
}
#tonga {
    background-color: rgb(164, 16, 31);

}
#samoa {
    background-color: rgb(32, 86, 125);
}
#aotearoa {
    background-color: rgb(55, 19, 77);
}
#fiji {
    background-color: rgb(134, 47, 3);
}
#tahiti {
    background-color: rgb(102, 179, 20);
}
*/
.navcenter {
    display: flex;
    flex-direction: column;   /* stack items vertically */
    align-items: center;      /* center horizontally */
    gap: 15px;                /* space between buttons */
    margin-top: 20px;         /* optional: push down */
    margin-bottom: 20px;  
}
  
.navcenter a {
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(15px);
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    width: 150px;             /* keeps them the same size */
    font-family:sans-serif
  }
.navtop {
    display: flex;
    background-color: rgb(104, 141, 230);
    padding: 5px;
    text-align: center;
    justify-content: space-evenly;
    color: white;
  }
#linked {
    color: rgb(235, 19, 19);
    font-weight: bolder;
}
.navtop a{
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
.navcenter a:hover{
    background-color: rgb(61, 13, 117);
}

.position{
    margin-bottom: 20px;
}
footer {
    margin-top: 0;
    padding-top: 0;
    background-color:  rgb(61, 13, 117);
}
footer p {
    color: White;
}
